/* Home page */

position: relative;
width: 1440px;
height: 3642px;

background: #FFFFFF;


/* Navigation C */

position: absolute;
width: 1440px;
height: 60px;
left: -1px;
top: 0px;

background: #FFFFFF;


/* Sample Logo */

position: absolute;
width: 300.07px;
height: 32px;
left: 80px;
top: 14px;



/* nourishment */

position: absolute;
left: -16.66%;
right: 44.82%;
top: 0%;
bottom: 0%;

font-family: Comfortaa;
font-style: normal;
font-weight: normal;
font-size: 28.4444px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* HOME */

position: absolute;
width: 49px;
height: 18px;
left: 251px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* LEARN */

position: absolute;
width: 53px;
height: 18px;
left: 338px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* SUPPORT */

position: absolute;
width: 74px;
height: 18px;
left: 418px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* RESOURCES */

position: absolute;
width: 95px;
height: 18px;
left: 503px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* ABOUT */

position: absolute;
width: 55px;
height: 18px;
left: 610px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* Button */

position: absolute;
width: 130px;
height: 40px;
left: 1260px;
top: 10px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Actionable Item */
background: #18A0FB;
border-radius: 6px;


/* Register */

position: absolute;
left: 26.15%;
right: 26.15%;
top: 27.5%;
bottom: 27.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;



/* Button */

position: absolute;
width: 130px;
height: 40px;
left: 1138px;
top: 10px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
/* Actionable Item */
border: 1px solid #18A0FB;
box-sizing: border-box;
border-radius: 6px;


/* Log in */

position: absolute;
left: 32.31%;
right: 32.31%;
top: 27.5%;
bottom: 27.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* Hero E */

position: absolute;
width: 1440px;
height: 652px;
left: -1px;
top: 60px;

background: #FFFFFF;


/* map */

position: absolute;
width: 1440px;
height: 960px;
left: 0px;
top: 0px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* The largest community of photo enthusiasts */

position: absolute;
width: 1392px;
height: 80px;
left: 0px;
top: 480px;



/* Millions of people still lack reliable sources of food and water */

position: absolute;
left: 0%;
right: -7.18%;
top: -5%;
bottom: 5%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 80px;
/* identical to box height, or 222% */
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Body B */

position: absolute;
width: 1440px;
height: 786px;
left: -1px;
top: 712px;

background: #FFFFFF;


/* What Can We Do? */

position: absolute;
width: 750px;
height: 74px;
left: 80px;
top: 55px;

/* Sub-page H1 */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 72px;
/* or 150% */
letter-spacing: -0.015em;

color: #000000;



/* Button */

position: absolute;
width: 130px;
height: 40px;
left: 80px;
top: 338px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
/* Actionable Item */
border: 1px solid #18A0FB;
box-sizing: border-box;
border-radius: 6px;


/* Frame 1 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: absolute;
width: 106px;
height: 38px;
left: 12px;
top: 1px;



/* Learn more */

position: static;
left: 9.43%;
right: 9.43%;
top: 26.32%;
bottom: 26.32%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Button */

position: absolute;
width: 130px;
height: 40px;
left: 784px;
top: 338px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
/* Actionable Item */
border: 1px solid #18A0FB;
box-sizing: border-box;
border-radius: 6px;


/* Learn more */

position: absolute;
left: 16.92%;
right: 16.92%;
top: 27.5%;
bottom: 27.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* Button */

position: absolute;
width: 130px;
height: 40px;
left: 80px;
top: 620px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
/* Actionable Item */
border: 1px solid #18A0FB;
box-sizing: border-box;
border-radius: 6px;


/* Learn more */

position: absolute;
left: 16.92%;
right: 16.92%;
top: 27.5%;
bottom: 27.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* Button */

position: absolute;
width: 130px;
height: 40px;
left: 784px;
top: 620px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
/* Actionable Item */
border: 1px solid #18A0FB;
box-sizing: border-box;
border-radius: 6px;


/* Learn more */

position: absolute;
left: 16.92%;
right: 16.92%;
top: 27.5%;
bottom: 27.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* Sed ut perspiciatis */

position: absolute;
width: 500px;
height: 36px;
left: 80px;
top: 156px;

/* Body H4 */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
letter-spacing: -0.015em;

color: #000000;



/* Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. */

position: absolute;
width: 500px;
height: 90px;
left: 80px;
top: 216px;

/* Body P */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Lorem ipsum dolor */

position: absolute;
width: 500px;
height: 36px;
left: 784px;
top: 156px;

/* Body H4 */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
letter-spacing: -0.015em;

color: #000000;



/* Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. */

position: absolute;
width: 500px;
height: 90px;
left: 784px;
top: 216px;

/* Body P */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Nemo enim ipsam */

position: absolute;
width: 500px;
height: 36px;
left: 80px;
top: 438px;

/* Body H4 */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
letter-spacing: -0.015em;

color: #000000;



/* Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam. */

position: absolute;
width: 500px;
height: 90px;
left: 80px;
top: 498px;

/* Body P */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Tempor incididunt */

position: absolute;
width: 500px;
height: 36px;
left: 784px;
top: 438px;

/* Body H4 */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
letter-spacing: -0.015em;

color: #000000;



/* Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora. */

position: absolute;
width: 500px;
height: 90px;
left: 784px;
top: 498px;

/* Body P */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Testimonial D */

position: absolute;
width: 1440px;
height: 738px;
left: -1px;
top: 2056px;

background: #FFFFFF;


/* Rectangle */

position: absolute;
width: 173px;
height: 76px;
left: 308px;
top: 402px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle */

position: absolute;
width: 173px;
height: 76px;
left: 525px;
top: 402px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle */

position: absolute;
width: 173px;
height: 76px;
left: 741px;
top: 402px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle */

position: absolute;
width: 173px;
height: 76px;
left: 958px;
top: 402px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle */

position: absolute;
width: 173px;
height: 76px;
left: 308px;
top: 538px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle */

position: absolute;
width: 173px;
height: 76px;
left: 525px;
top: 538px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle */

position: absolute;
width: 173px;
height: 76px;
left: 741px;
top: 538px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle */

position: absolute;
width: 173px;
height: 76px;
left: 958px;
top: 538px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Inpiring End Message */

position: absolute;
width: 1392px;
height: 72px;
left: 24px;
top: 120px;



/* 2gether we can end world thirst and hunger */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Sub-page H1 */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 72px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore */

position: absolute;
left: 0%;
right: 0%;
top: 141.67%;
bottom: -180.56%;

/* Body P Large */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 50px;
/* or 139% */
text-align: center;
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Signup C */

position: absolute;
width: 1440px;
height: 340px;
left: -1px;
top: 2841px;

background: #F5F5F5;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore */

position: absolute;
width: 943px;
height: 100px;
left: 80px;
top: 120px;

/* Body P Large */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 50px;
/* or 139% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Button */

position: absolute;
width: 192px;
height: 52px;
left: 959px;
top: 260px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Actionable Item */
background: #18A0FB;
border-radius: 6px;


/* Join Today */

position: absolute;
left: 26.15%;
right: 26.97%;
top: 29.42%;
bottom: 30.19%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;



/* Button */

position: absolute;
width: 192px;
height: 52px;
left: 1156px;
top: 260px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
/* Actionable Item */
border: 1px solid #18A0FB;
box-sizing: border-box;
border-radius: 6px;


/* Contact us */

position: absolute;
left: 26.15%;
right: 26.45%;
top: 29.42%;
bottom: 30.19%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* Footer C */

position: absolute;
width: 1440px;
height: 461px;
left: -1px;
top: 3181px;

background: #FFFFFF;


/* Mobile app */

position: absolute;
width: 173px;
height: 24px;
left: 80px;
top: 120px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: #000000;



/* © Photo, Inc. 2019. We love our users! */

position: absolute;
width: 301px;
height: 24px;
left: 599px;
top: 357px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
text-align: center;
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);



/* Ellipse */

position: absolute;
width: 44px;
height: 44px;
left: 784px;
top: 273px;



/* Ellipse */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 44px;
height: 44px;
left: 730px;
top: 273px;



/* Ellipse */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 44px;
height: 44px;
left: 676px;
top: 273px;



/* Ellipse */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 44px;
height: 44px;
left: 621px;
top: 273px;



/* Ellipse */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Community */

position: absolute;
width: 173px;
height: 24px;
left: 243px;
top: 120px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: #000000;



/* Company */

position: absolute;
width: 173px;
height: 24px;
left: 404px;
top: 120px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: -0.015em;

color: #000000;



/* Help desk */

position: absolute;
width: 173px;
height: 24px;
left: 893px;
top: 120px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
text-align: right;
letter-spacing: -0.015em;

color: #000000;



/* Blog */

position: absolute;
width: 173px;
height: 24px;
left: 1056px;
top: 120px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
text-align: right;
letter-spacing: -0.015em;

color: #000000;



/* Resources */

position: absolute;
width: 173px;
height: 24px;
left: 1217px;
top: 120px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
text-align: right;
letter-spacing: -0.015em;

color: #000000;



/* Sample Logo */

position: absolute;
width: 122.07px;
height: 32px;
left: 669px;
top: 120px;



/* nourishment */

position: absolute;
left: -11.98%;
right: -39.56%;
top: 0%;
bottom: 0%;

font-family: Comfortaa;
font-style: normal;
font-weight: normal;
font-size: 28.4444px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Rectangle */

position: absolute;
width: 1520px;
height: 1px;
left: 80px;
top: 192px;

background: rgba(0, 0, 0, 0.5);


/* Body E */

position: absolute;
width: 1440px;
height: 614px;
left: -1px;
top: 1442px;

background: #FFFFFF;


/* Rectangle */

position: absolute;
width: 659px;
height: 440px;
left: 80px;
top: 80px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Sed ut perspiciatis unde omnis */

position: absolute;
width: 600px;
height: 36px;
left: 784px;
top: 225px;

/* Body H4 */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
letter-spacing: -0.015em;

color: #000000;



/* Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem. */

position: absolute;
width: 600px;
height: 90px;
left: 784px;
top: 285px;

/* Body P */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);

