/* SUPPORT page */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Header */

position: absolute;
width: 1440px;
height: 86px;
left: 0px;
top: 60px;

background: #F4F4F4;


/* Choose a location, Choose a cause. */

position: absolute;
width: 672px;
height: 74px;
left: 384px;
top: 12px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Navigation C */

position: absolute;
width: 1440px;
height: 60px;
left: -1px;
top: 0px;

background: #FFFFFF;


/* Sample Logo */

position: absolute;
width: 300.07px;
height: 32px;
left: 80px;
top: 14px;



/* nourishment */

position: absolute;
left: -16.66%;
right: 44.82%;
top: 0%;
bottom: 0%;

font-family: Comfortaa;
font-style: normal;
font-weight: normal;
font-size: 28.4444px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* HOME */

position: absolute;
width: 49px;
height: 18px;
left: 251px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* LEARN */

position: absolute;
width: 53px;
height: 18px;
left: 338px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* SUPPORT */

position: absolute;
width: 74px;
height: 18px;
left: 418px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* RESOURCES */

position: absolute;
width: 95px;
height: 18px;
left: 503px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* ABOUT */

position: absolute;
width: 55px;
height: 18px;
left: 610px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* Button */

position: absolute;
width: 130px;
height: 40px;
left: 1260px;
top: 10px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Actionable Item */
background: #18A0FB;
border-radius: 6px;


/* Register */

position: absolute;
left: 26.15%;
right: 26.15%;
top: 27.5%;
bottom: 27.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;



/* Button */

position: absolute;
width: 130px;
height: 40px;
left: 1138px;
top: 10px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
/* Actionable Item */
border: 1px solid #18A0FB;
box-sizing: border-box;
border-radius: 6px;


/* Log in */

position: absolute;
left: 32.31%;
right: 32.31%;
top: 27.5%;
bottom: 27.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* Actionable Item */
color: #18A0FB;



/* Search Filter */

position: absolute;
width: 337px;
height: 878px;
left: 1103px;
top: 146px;

background: #FEECD0;


/* Project 1 */

position: absolute;
width: 250px;
height: 333px;
left: 103px;
top: 216px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0.79%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 0.481091px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle 3 */

position: absolute;
width: 250px;
height: 81px;
left: 0px;
top: 252px;

background: #A2A2A2;


/* information about the proejct here */

position: absolute;
width: 194px;
height: 24px;
left: 31px;
top: 279px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Project 2 */

position: absolute;
width: 250px;
height: 333px;
left: 430px;
top: 216px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0.79%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 0.481091px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle 3 */

position: absolute;
width: 250px;
height: 81px;
left: 0px;
top: 252px;

background: #A2A2A2;


/* information about the proejct here */

position: absolute;
width: 194px;
height: 24px;
left: 31px;
top: 279px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Project 3 */

position: absolute;
width: 250px;
height: 333px;
left: 757px;
top: 216px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0.79%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 0.481091px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle 3 */

position: absolute;
width: 250px;
height: 81px;
left: 0px;
top: 252px;

background: #A2A2A2;


/* information about the proejct here */

position: absolute;
width: 194px;
height: 24px;
left: 31px;
top: 279px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Project 4 */

position: absolute;
width: 250px;
height: 333px;
left: 103px;
top: 597px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0.79%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 0.481091px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle 3 */

position: absolute;
width: 250px;
height: 81px;
left: 0px;
top: 252px;

background: #A2A2A2;


/* information about the proejct here */

position: absolute;
width: 194px;
height: 24px;
left: 31px;
top: 279px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Project 5 */

position: absolute;
width: 250px;
height: 333px;
left: 430px;
top: 597px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0.79%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 0.481091px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle 3 */

position: absolute;
width: 250px;
height: 81px;
left: 0px;
top: 252px;

background: #A2A2A2;


/* information about the proejct here */

position: absolute;
width: 194px;
height: 24px;
left: 31px;
top: 279px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;



/* Project 6 */

position: absolute;
width: 250px;
height: 333px;
left: 757px;
top: 597px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0.79%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border: 0.481091px solid rgba(0, 0, 0, 0.3);
box-sizing: border-box;


/* Rectangle 3 */

position: absolute;
width: 250px;
height: 81px;
left: 0px;
top: 252px;

background: #A2A2A2;


/* information about the proejct here */

position: absolute;
width: 194px;
height: 24px;
left: 31px;
top: 279px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;

