{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Create post</h1>
    		
    		<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    		    <div class="form-group has-error">
    		        <label>Title <small></small></label>
                    {{form.title | add_class:'form-control'}}
    		    </div>
    		    
    		    <div class="form-group">
    		        <label>Location </label>
    		        {{form.location | add_class:'form-control'}}
    		    </div>
    		    
    		    <div class="form-group">
    		        <label>Description</label>
                    {{form.description | add_class:'form-control'| attr:'rows:5'}}
    		    </div>
    		    
    		    <div class="form-group">

                        <label>Number of funds </label>
                        {{form.number_of_funds | add_class:'form-control'}}

                    
                        <label>Goal</label>
                        {{form.goal | add_class:'form-control'}}

                        <label>Image</label>
                        {{form.image | add_class:'form-control'}}
    		    </div>
    		    
    		    <div>
    		        <button type="submit" class="btn btn-primary">
    		            Create
    		        </button>
    		    </div>
                {{form.errors}}
    		    
    		</form>
		</div>
		
	</div>
</div>


{% endblock%}