{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
 <div class="top" >
  <i class="fas fa-chevron-up"></i>
</div>  
<section class="bg-light wow bounceInUp">
  <div class="container ">
    <div class="row justify-content-center">
     <div class="col-md-4 text-center mt-3">
      <h5>Choose a location, Choose a cause</h5>
    </div>                              
  </div>
  <div class="card-deck mt-4">
    <div class="card">
      <img src="http://placehold.it/20/20" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      </div>

    </div>
    <div class="card">
      <img src="http://placehold.it/20/20" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      </div>

    </div>
    <div class="card">
      <img src="http://placehold.it/20/20" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      </div>

    </div>
  </div>
  <div class="card-deck mt-4">
    <div class="card">
      <img src="http://placehold.it/20/20" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      </div>

    </div>
    <div class="card">
      <img src="http://placehold.it/20/20" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      </div>

    </div>
    <div class="card">
      <img src="http://placehold.it/20/20" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
      </div>

    </div>
  </div>
</div>    
</section>
</main>
{% endblock %}
