{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section>
        <div class="section1">
            <img src="{% static 'images/IMG.jpg' %}" alt="An image that reflects poverty"  width="100%" height="100%" > 
            <h2 class="h2"><span id="h2">MILLIONS OF</span>
                <br>    
                ____________________________________________
                <br>
                <br>
            PEOPLE STILL LACK RELIABLE SOURCES OF FOOD AND WATER</h2>
        </div>

    </section>
    <section>
        <div class="section2">
            <div class="container">
                <h1>What can we do?</h1>

                <div class="item">
                    <h3>Learn</h3>
                    <p>One of the most important ways you can support people and regions experiencing food and water scarcity is to be educated about the situation. Learn about where, and who, are most impacted by fod and water scarcity.</p>
                    <button>Learn more </button>
                </div>

                <div class="item">
                    <h3>Discover</h3>
                    <p>Know about food and water scarcity in general? In a particular region? Then, you can visit our resources page or our support page to support a campaign or find a location in need of support and create a campaign.</p>
                    <button>Discover</button>
                </div>

                <div class="item">
                    <h3>Advocate and Support</h3>
                    <p>Visit our “Support” page to start, or fund a campaign. It works a little bit like GoFundMe-- you find a cause you want to support, and you contribute funds or volunteer hours. Or, you can choose to spread the word and ask others to support a campaign.</p>
                    <button>Support</button>
                </div>

                <div class="item">
                    <h3>Make your own Campaign</h3>
                    <p>Find a location or know a region facing dire food or water scarcity and want to draw attention to their situation? You can make your own campaign! </p>
                    <button>Create Campaign</button>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </section>
    <section>
        <div class="section3">
            <div class="container">
                <div class="image">
                    <img src="{% static 'images/img22.jpg' %}" alt="An image that represents hunger and thirst"  width="500px" >
                </div>
                <div class="info"> 
                 <h2>Nourishment’s Vision</h2>
                 <p>We created this website with the intention to help the world effort to eliminate world thirst and hunger.  We found that among the numerous barriers to achieving this goal, a considerable portion of it was lack of  ready, and accessible information and a platform to advocate upon. </p>
             </div>

         </div>
     </div>
     <div class="clear"></div>

 </section>
 <section>
    <div class="section4">
        <div class="container">
            <h2>Together we can end world thirst and hunger</h2>
            <p>Here are some examples of campaigns from our current users, and campaigns lead by other organizations.</p>
            <div class="servies"><img src="" alt=""></div>
            <div class="servies"><img src="" alt=""></div>
            <div class="servies"><img src="" alt=""></div>
            <div class="servies"><img src="" alt=""></div>
            <div class="servies"><img src="" alt=""></div>
            <div class="servies"><img src="" alt=""></div>
            <div class="servies"><img src="" alt=""></div>
            <div class="servies"><img src="" alt=""></div>

        </div>
    </div>
    <div class="clear"></div>
    
</section>
<section>
    <div class="section5">
        <p>We always welcome the addition of new campaigns to help achieve zero hunger and zero thirst. Learn more about food and water scarcity, and make your own campaign</p>
        <button id="span">Join Today</button>
        <button>Contact us</button>
    </div>
    <div class="clear"></div>
</section>
</main>
{% endblock %}
