{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
        <section>
            <div class="section1">
                <img src="{% static 'images/IMG.jpg' %}" alt="An image that reflects poverty"  width="100%" height="100%" > 
                <h2 class="h2"><span id="h2">MILLIONS OF</span>
                <br>    
                ____________________________________________
                <br>
                <br>
                PEOPLE STILL LACK RELIABLE SOURCES OF FOOD AND WATER</h2>
            </div>

        </section>
        <section>
            <div class="section2">
                <div class="container">
                    <h1>what can we do?</h1>
    
                    <div class="item">
                        <h3>Sed ut perspiciatis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nam recusandae earum dolorem porro? Rerum ab molestias dignissimos doloribus doloremque, a quae, officia saepe expedita odit illum consequatur optio voluptas.</p>
                        <button>Learn more </button>
                    </div>
    
                    <div class="item">
                        <h3>Sed ut perspiciatis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nam recusandae earum dolorem porro? Rerum ab molestias dignissimos doloribus doloremque, a quae, officia saepe expedita odit illum consequatur optio voluptas.</p>
                        <button>Learn more </button>
                    </div>
    
                    <div class="item">
                        <h3>Sed ut perspiciatis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nam recusandae earum dolorem porro? Rerum ab molestias dignissimos doloribus doloremque, a quae, officia saepe expedita odit illum consequatur optio voluptas.</p>
                        <button>Learn more </button>
                    </div>
                    
                    <div class="item">
                        <h3>Sed ut perspiciatis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nam recusandae earum dolorem porro? Rerum ab molestias dignissimos doloribus doloremque, a quae, officia saepe expedita odit illum consequatur optio voluptas.</p>
                        <button>Learn more </button>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section>
            <div class="section3">
                <div class="container">
                    <div class="image">
                        <img src="{% static 'images/img22.jpg' %}" alt="An image that represents hunger and thirst"  width="500px" >
                    </div>
                    <div class="info"> 
                       <h2>About me</h2>
                       <p>Lorem ipsum  consectetur adipisicing elit. Dolorem animi pariatur doloremque labore debitis sunt excepturi autem obcaecati ipsa ab. Repellendus delectus, unde molestiae facilis ratione quas voluptates? Quae perspiciatis aliquam quibusdam maxime, quo corporis ducimus reiciendis voluptates vel magnam! Quia, necessitatibus. Ad, quidem ut!</p>
                    </div>
    
                </div>
            </div>
            <div class="clear"></div>
    
        </section>
        <section>
            <div class="section4">
                <div class="container">
                    <h2>gether we can end world thirst and hunger</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ut sequi earum error quibusdam in beatae magnam ea itaque numquam hic obcaecati dolorem asperiores, quae maxime illum cupiditate dignissimos sit.</p>
                    <div class="servies"><img src="" alt=""></div>
                    <div class="servies"><img src="" alt=""></div>
                    <div class="servies"><img src="" alt=""></div>
                    <div class="servies"><img src="" alt=""></div>
                    <div class="servies"><img src="" alt=""></div>
                    <div class="servies"><img src="" alt=""></div>
                    <div class="servies"><img src="" alt=""></div>
                    <div class="servies"><img src="" alt=""></div>
    
                </div>
            </div>
            <div class="clear"></div>
    
        </section>
        <section>
            <div class="section5">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore tempora repellat <br> possimus eos incidunt, natus quia pariatur, reprehenderit</p>
                <button id="span">Join Today</button>
                <button>Contant us</button>
            </div>
            <div class="clear"></div>
        </section>
    </main>
{% endblock %}
