{% extends "base.html" %}
{% block content %}
<main>
  <div class="top" >
   <i class="fas fa-chevron-up"></i>
</div>  
<section>
   <div class="container ">
     <div class="row justify-content-center">
        <div class="col-md-4 text-center mt-3 wow bounceInUp">
         <h4>Food Insecurity</h4>
      </div>                              
   </div>
   <div class="owl-carousel mt-2 wow bounceInUp">
    <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
    <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
    <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
    <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
    <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
    <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
    <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
 </div>
</div>
</section>
<section>
 <div class="container wow bounceInUp ">
  <div class="row justify-content-center">
     <div class="col-md-4 text-center wow bounceInUp ">
      <h4>Water Insecurity</h4>
   </div>                              
</div>
<div class="owl-carousel mt-2 wow bounceInUp">
 <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
 <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
 <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
 <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
 <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
 <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
 <div> <img class="w-100" src="http://placehold.it/350/350" alt=""> </div>
</div>
</div>

</section>
</main>
{% endblock %}
