{% extends "base.html" %}
{% block content %}
<h1>Resources</h1>
<ul>
   <li><a href="https://www.unwater.org/publications/water-security-infographic/">United Nations Water</a></li>
   <li><a href="https://www.swpwater.org/what-is-water-security/">Sustainable Water Partnership</a></li>
   <li><a href="https://thewaterproject.org/water-scarcity/">The Water Project</a></li>
   <li><a href="https://www.worldbank.org">World Bank</a></li>
   <li><a href="http://www.fao.org/aquastat/en/">(FAO) Food and Agriculture Organization of the United Nations</a></li>
   <li><a href="https://en.unesco.org/themes/water-security">(UNESCO) United Nations Educational Scientific and Cultural Organization Water Security</a></li>
</ul>
{% endblock %}
